/* buttons */

.button-a {
    background-color: var(--secondary--green);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 12rem;
    height: 4rem;
    margin: 2rem 0 0 0;
    border-radius: 0.5rem;
  }

  h1 {
    text-align: center;
  }

  /* desktop adjustments */

  @media screen and (min-width: 1080px) {
    .button-a {
      background-color: var(--secondary--green);
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
      width: 16rem;
      height: 6rem;
      margin: 2rem 0 0 0;
      border-radius: 0.5rem;
    }

  }